**/*.pkl

**/*.zip

**/*.log

questions/question1/model/bert-base

questions/question1/model/bert-tuning-01

questions/question1/model/bert-tuning

.idea/*

utils/*

readme

questions/question8