**/*.pkl

**/*.zip

**/*.log

questions/question1/model/bert-base

questions/question1/model/bert-tuning-01

questions/question1/model/bert-tuning

.idea/*

utils/*

readme

questions/question8

/venv

questions/question2/__pycache__

questions/question2/model/

questions/question2/model/bee/

questions/question2/model/bee/dict.txt

questions/question2/model/bee/model_ob.txt