**/*.pkl

**/*.zip

**/*.log

questions/question1/model/bert-base

questions/question1/model/bert-tuning-01

questions/question1/model/bert-tuning

.idea/*
utils/*


readme

questions/question8

/venv

questions/question2/__pycache__

json_data/*

questions/question2/origin_data/*

questions/question2/predict_data/*

questions/question2/llm_dataset/*

questions/question2/generate_data/*

questions/question2/generate_data/*